@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: SoraMedium;
    src: url(./assets/fonts/Sora-Medium.ttf);
  }
  @font-face {
    font-family: SoraRegular;
    src: url(./assets/fonts/Sora-Regular.ttf);
  }

body{
    font-family: SoraRegular;
    background-color: black;
}